body{
    background:#f8f9fa;
    color:#212529;
}

.custom-navbar{
    background:white;
}

.navbar-brand,
.nav-link{
    color:black !important;
}

.nav-link:hover{
    color:#0d6efd !important;
}

.product-card{
    background:white;
}

.quantity-btn{
    background:#e9ecef;
}

.cart-item{
    background:white;
}

.total-box{
    background:white;
}

.about-card{
    background:white;
}

.contact-card{
    background:white;
}

.footer{
    background:white;
}

input,
textarea,
select{
    background:white !important;
    color:black !important;
}

.card{
    background:white;
}